<div class="row">
    <div class="row">
      <div class="col-md-4" id="container_1">Inflow Vs Closure</div>
      <div class="col-md-4" id="container_2">Incident Backlog</div>
      <div class="col-md-4" id="container_3">Ageing</div>
    </div>
    <div class="clearfix"><hr/></div>
    <div class="row">
        <div class="col-md-4" id="container_4">Sla Compliance</div>
        <div class="col-md-4" id="container_5">Change Detail</div>
        <div class="col-md-4" id="container_6">Unsuccessful Changes</div>
    </div>
  <div class="clearfix"><hr/></div>
      <div class="row">
        <div class="col-md-4" id="container_7">Problem Ticket</div>
        <div class="col-md-4" id="container_8">Problem Ticket Aeging</div>
        <div class="col-md-4" id="container_9">Other</div>
      </div>
  <div class="clearfix"><hr/></div>
      <div class="row">
        <div class="col-md-4" id="container_10">Other Backlog</div>
        <div class="col-md-4" id="container_11">Status For open Ticket</div>
        <div class="col-md-4" id="container_12"></div>
      </div>
</div>
<div id="container">
</div>
<script type="text/javascript">
    var products_data = <%= @products_data.to_json.html_safe %>;
    var data_hash = <%= @data_hash.to_json.html_safe %>;
    var ivcs = <%= @data_hash[:ivcs].to_json.html_safe%>;
    var ibs = <%= @data_hash[:ibs].to_json.html_safe%>;
    var ags = <%= @data_hash[:ags].to_json.html_safe%>;
    var slac = <%= @data_hash[:slac].to_json.html_safe%>;
    var chd = <%= @data_hash[:chd].to_json.html_safe%>;
    var ucd = <%= @data_hash[:ucd].to_json.html_safe%>;
    var pts = <%= @data_hash[:pts].to_json.html_safe%>;
    var ptas = <%= @data_hash[:ptas].to_json.html_safe%>;
    var others = <%= @data_hash[:others].to_json.html_safe%>;
    var obls = <%= @data_hash[:obls].to_json.html_safe%>;
    var sfois = <%= @data_hash[:sfois].to_json.html_safe%>;
    $(function () {
        $('#container_1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ivcs.title
            },
            subtitle: {
                text: ivcs.sub_title
            },
            xAxis: {
                categories: ivcs.categories,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: ivcs.series
        });
    });
    $(function () {
        $('#container_2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ibs.title
            },
            xAxis: {
                categories: ibs.categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: ibs.title
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: ibs.series
        });
    });
    $(function () {
        $('#container_3').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ags.title
            },
            xAxis: {
                categories: ags.categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Incidents',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: ags.series
        });
    });
    $(function () {
        $('#container_4').highcharts({
            title: {
                text: slac.title,
                x: -20 //center
            },
            xAxis: {
                categories: slac.categories
            },
            yAxis: {
                title: {
                    text: 'sla compliance %'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: slac.series
        });
    });

    $(function () {
        $('#container_5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: chd.title
            },
            xAxis: {
                categories: chd.categories,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: chd.series
        });
    });
    $(function () {
        $('#container_6').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ucd.title
            },
            xAxis: {
                categories: ucd.categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Unsuccessful changes',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: ucd.series
        });
    });
    $(function () {
        $('#container_7').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: pts.title
            },
            xAxis: {
                categories: pts.categories,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: pts.series
        });
    });
    $(function () {
        $('#container_8').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ptas.title
            },
            xAxis: {
                categories: ptas.categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Problem Tickets Ageing',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: ptas.series
        });
    });

    $(function () {
        $('#container_9').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: others.title
            },
            xAxis: {
                categories: others.categories,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: others.series
        });
    });
    $(function () {
        $('#container_10').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: obls.title
            },
            xAxis: {
                categories: obls.categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Other Backlogs',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: obls.series
        });
    });
    $(function () {
        $('#container_11').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: sfois.title
            },
            xAxis: {
                categories: sfois.categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Open Incidents',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: sfois.series
        });
    });


</script>