<nav class="navbar navbar-inverse navbar-bottom" role="navigation"
     style="color: #fff; font-family: 'Patrick Hand'; font-size: 18px; background-color: #333333">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        Left
      </div>
      <div class="col-md-4">
        Middle
      </div>
      <div class="col-md-4">
        Right
      </div>
    </div>
    <div class="clearfix"></div>


  </div>


</nav>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>