<div class="col-md-12" >
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation"
       >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand header-brand" href="/">Telstra</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>

        </li>
        <li>
          <%= link_to "Upload Files", new_incident_path %>
        </li>
        <li>
          <%= link_to "Server Inventory", reports_incidents_path %>
        </li>
        <li>
          <%= link_to "Dashboard", dashboard_path %>
        </li>
      </ul>

      <p class="nav navbar-text navbar-right" style="width:130px">

        <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login ", new_user_session_path, :class => 'navbar-link'  %>

        <% end %>
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Name<strong class="caret"></strong></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<a href="#">Profile</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Logout</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="/login">Login</a>-->
        <!--</li>-->

      </p>
    </div>

  </nav>



</div>